.input-div{width:100%;padding:0 0 20px 0}
.s-input{border-right:0;border-radius:0;}
.am-btn-default:focus, .am-btn-default:hover, .am-dropdown.am-active .am-btn-default.am-dropdown-toggle{border-color:#0e90d2;background-color:#eee;}
.start{float:right;margin-top:-38px}
#player{margin-bottom:.3em;height:548px;width:100%}