@charset "utf-8";

@font-face {
	font-family: "apjPlayer";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
}

.ap-jp-song-url {
	/* 
	display: inline-block;
	height: 100%;
	position: relative;
	right: 0;
	text-align: right;
	top: -30px;
	width: 100%;
	z-index: 1; */

	display: inline-block;
	height: 100%;
	position: relative;
	right: 0;
	text-align: right;
	top: -30px;
	width: 0;
	margin-left: 80%;
	z-index: 1;
}

.ap-jp-song-url .itunes,
.ap-jp-song-url .amazon,
.ap-jp-song-url .buy,
.ap-jp-song-url .free-dl {
	font-family: 'apjPlayer';
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: none !important;
	text-transform: none;
}

.ap-jp-song-url .itunes,
.ap-jp-song-url .amazon,
.ap-jp-song-url .buy,
.ap-jp-song-url .free-dl {
	display: inline-block;
	font-size: 16px;
	height: 16px;
	margin-left: 4px;
	margin-top: -2px;
	position: relative;
	vertical-align: middle;
	width: 66px;
}

.ap-jp-song-url .itunes:before {
	content: "\f019 下载";
	color: aliceblue;
}

.ap-jp-song-url .amazon:before {
	content: "é¡Žâ‚¬";
}

.ap-jp-song-url .buy:before {
	content: "播放";
	padding-left: 22px;
	background: url(../../../../AppData/Local/Microsoft/Windows/Temporary%20Internet%20Files/Low/Content.IE5/css_img/p.png) no-repeat;
	color: aliceblue;
}

.ap-jp-song-url .free-dl:before {
	content: "è¯„è®º";
	color: aliceblue;
}

.jp-current-time,
.jp-duration,
.jp-stop,
.jp-repeat,
.jp-repeat-off,
.jp-shuffle,
.jp-volume-bar,
.jp-volume-max,
.post-audio .song_title div {
	display: block;
}

.jp-controls li a,
.ap-jp-song-url a {
	text-decoration: none;
	color: #333;
}

.jp-playlist-item {
	text-decoration: none;
}

.jp-repeat {
	float: left;
	margin-top: -116px;
}

.jp-repeat-off {
	color: #F24333 !important;
	float: left;
	margin-top: -116px;
}

.jp-audio .inner {
	padding: 0 !important;
}

.post-audio .jp-audio .inner {
	padding-top: 8px !important;
}

.post-audio .jp-audio .inner {
	box-shadow: 0 0 12px rgba(154, 120, 91, 0.38);
}

.jp-audio a:hover,
.jp-audio a:focus,
.jp-audio a:active {
	outline: medium none;
}

.jp-interface,
.jp-interface ul.jp-controls {
	position: relative;
	padding-bottom: 12px;
}

.jp-interface ul.jp-controls {
	margin: 13px 15px 0;
	position: relative;
	padding: 10px;
}

.jp-previous.disabled,
.jp-next.disabled {
	opacity: 0.4 !important;
}

.jp-play {
	background-position: -25px 0;
}

.jp-pause {
	background-position: 0 0;
	display: none;
}

.jp-play,
.jp-pause,
.jp-previous,
.jp-next {
	font-size: 26px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	top: 0;
}

.jp-previous {
	margin-left: -50px;
}

.jp-next {
	margin-left: 26px;
}

.jp-mute,
.jp-unmute {
	position: absolute;
	right: 8px;
	top: 10px;
}

.jp-progress {
	display: inline-block;
	height: 6px;
	margin: 5px auto 22px 22px;
	overflow: hidden;
	width: 66%;
	margin-top: 7px;
}

.jp-seek-bar {
	background: none repeat scroll 0 0 #FFFFFF;
	cursor: pointer;
	height: 20px;
	overflow: hidden;
	width: 100% !important;
}

.jp-play-bar {
	background: none repeat scroll 0 0 #CED3D7;
	height: 20px;
	position: relative;
	width: 0;
}

.jp-play-bar:after {
	background: none repeat scroll 0 0 #CED3D7;
	content: "";
	display: block;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 9px;
}

.jp-current-time,
.jp-duration {
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	width: 60px;
}

.jp-current-time {
	display: inline-block;
	float: left;
	margin-left: 20px;
	color: aliceblue;
}

.jp-duration {
	display: inline-block;
	float: right;
	margin-right: 20px;
	text-align: right;
	color: aliceblue;
}

.jp-playlist {
	display: none;
	margin-top: 30px;
	padding-bottom: 8px;
}

.jp-playlist li {
	border-top: 1px solid #D2D2D2;
	margin: 0 5px;
	padding: 5px 5px 6px 12px;
}

.jp-playlist img {
	display: none;
}

.song_title img {
	border-radius: 18px 18px 0 0;
	display: inline;
	height: 250px;
	width: 100%;
}

.jp-jplayer audio,
.jp-jplayer {
	height: 0;
	width: 0;
}

.jp-jplayer {
	background-color: #000000;
}

.item-song {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 3px;
	padding-top: 20px;
	text-align: left;
	font-family: Arial;
}

.item-artist {
	color: #FFFFFF;
	margin-top: 8px;
	font-size: 11px;
	text-align: left;
	font-family: Arial;
}

.jp-playlist-current .item-song,
.jp-playlist-current .item-artist {
	color: #DDF38A;
}

.focus-audio .song_title .item-song {
	font-size: 18px;
	letter-spacing: -1px;
	text-align: center;
}

.focus-audio .song_title .item-artist {
	padding: 0 5px 20px 18px;
	text-align: center;
}

@media(max-width: 600px) {
	.song_title img {
		height: auto;
	}

	.jp-progress {
		width: 40%;
	}
}

@media(max-width: 360px) {
	.jp-progress {
		margin: -14px auto 22px 92px;
	}

	.jp-repeat,
	.jp-repeat-off {
		margin-top: -90px;
	}

}
